@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500|Bitter|Nunito+Sans);

body {
  margin: 0;
  font-family: 'nunito sans', sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 300;
  background: #77DEFF;
  width: 100%;
}
h1 {
  font-weight: 400;
  letter-spacing: 2px;
  text-align: left;
}
div {
  overflow: hidden;
  text-align: left;

}

a {
  color: white;
  padding: 40px;
  padding-left: 0;
  font-size: 20px;
    transition-timing-function: ease-in-out;
    transition-property: font-size;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
      cursor: pointer;
}
a:hover {
  color: #FFE0EB;
  font-size: 21px;
    transition-timing-function: ease-in-out;
    transition-property: font-size;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

}

#header {
  height: 100px;
  padding-top: 40px;
  margin-left: 150px;
  background: none;
  width: 80%;
  color: white;
  overflow: hidden;
}
.draw {
  width: 80%;
  max-width: 680px;
  margin-left: 20px;
}
.hello {
  padding: 30px;
}
@media screen and (min-width: 750px) {
  .hello {
    padding: 0 5em 0 0;
    margin-left: 150px;
  }
  #header {
    margin-left: 0 5em;
  }
}

p {
  font-family: 'Roboto';
  color: white;
}
#scripty {
  font-family: 'open sans', sans-serif;
  line-height: 30px;
}
.u {
  padding: 0;
  color: #FF307B;
  text-decoration: underline;
}
#name {
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 15px;
  color: #ff3366;
  width: 95px;
    transition-timing-function: ease-in-out;
    transition-property: width;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
#name:hover {
    color: #66cccc;
    width: 97px;
    transition-timing-function: ease-in-out;
    transition-property: width;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
ul {
  list-style-type: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0px;
  align-items: center;
}
ul:first-child {
  padding: 20px;
}
@media screen and (max-width: 400px) {
  #name {
    width: 55px;
    top: 10px;
    left: 10px;
  }
  #header {
    margin-left: 70px;
    height: 50px;
    padding-top: 10px;
  }
  .hello {
    padding: 20px;
  }
  a {
    padding: 20px;
    font-size: 15px;
  }
  a:hover {
    font-size: 16px;
  }
  ul {
  }
}

.fa {
  color: white;
  width: 25px;
}
#footer {
  width: 320px;
  margin: 0 auto;
  background: none;
  text-align: center;
}
#footer ul {
  padding: 0;
  min-width: 320px;
}
#footer ul li {
  padding: 20px;
}
#footer a {
  padding: 0;
}
#mail {
  display: inline;
}
.fa-2x {
    font-size: 33px !important;
}
@media screen and (max-width: 500px) {
  .fa-2x {
      font-size: 27px !important;
  }
}
