@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500|Bitter|Nunito+Sans);

body {
  margin: 0;
  font-family: 'nunito sans', sans-serif;
  text-align: left;
  color: white;
  font-size: 20px;
  font-weight: 300;
  background: #77DEFF;
  letter-spacing: 1px;
}
h1 {
  font-weight: 400;
  letter-spacing: 2px;

}
#header {
  height: 70px;
  padding-top: 10px;
  background: none;
  width: 100%;
  color: white;
}
.hello {
  height: auto;
  padding: 4em;
}
p {
  font-family: 'Roboto';
  color: white;
}
#scripty {
  font-family: 'open sans', sans-serif;
  line-height: 30px;
}
div {
  margin: 0;
  padding: 0;
}
button {
  height: 80px;
  width: 250px;
  padding: 20px;
  border: 2px #336666 solid;
  color: #336666;
  font-family: 'raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  background: none;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}
button:hover {
  opacity: .7;
}
#name {
  color: #ff3366;
  width: 95px;
    transition-timing-function: ease-in-out;
    transition-property: width;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
#name:hover {
    color: #66cccc;
    width: 97px;
    transition-timing-function: ease-in-out;
    transition-property: width;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
ul {
  list-style-type: none;
  margin-left: 100px;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0px;
  align-items: center;
}
ul:first-child {
  margin: 20px;
}
.left {
  width: 150px;
  height: 100%;
  background: white;
  opacity: .5;
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}

#audrey {
  height: 170px;
  width: auto;
  left: 30px;
}
.fa {
  color: #336666;
  margin-top: -40px;
}
#footer {
  width: 400px;
  height: 200px;
  padding-bottom: 30px;
  margin: 0 auto;
  background: none;
  text-align: center;
}
#portrait {
  display: inline;
}
#mail {
  margin-top: 50px;
  display: block;
}

@media screen and (max-width: 700px) {
  #header ul {
/*    justify-content: space-around; */
  }
}
@media screen and (max-width: 400px) {
  #footer {
    height: 50%;
    width: 50%;
  }
  .fa {
    padding-top: 80px;
    margin-left: -55px;
  }
  #audrey {
    height: 100px;
    margin-left: 0px;
  }
  #mail {
    display: inline;
  }
}
a {
  padding: 10px;
  font-size: 16px;
    transition-timing-function: ease-in-out;
    transition-property: font-size;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
      cursor: pointer;
}
a:hover {
  font-size: 17px;
    transition-timing-function: ease-in-out;
    transition-property: font-size;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

}
a:visited {
  color: inherit;
}
a:-webkit-any-link {
  color: inherit;
}
@media screen and (max-width: 290px) {
  .fa {
    margin-left: -20px;
  }
}
